{# src/Toubarefane/SiteBundle/Resources/views/Site/modifier.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Modifier un article - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}

  <h2>Supprimer un article</h2>

  {% include "ToubarefaneSiteBundle:Site:formulaire.html.twig" %}

  <p>
    article supprimer
  </p>

  <p>
    <a href="{{ path('toubarefanesite_voir', {'id': article.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à l'article
    </a>
  </p>

{% endblock %}