{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Tous les photos - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
 <div id="content"> 
      <div class="gallery">
      <h2>Photos</h2>
      <ul>
 {% for allimages in images %}
  {# On vérifie qu'une image soit bien associée à l'article #}
  {% if allimages is not null %}
  <li><a href="{{ path('toubarefanephoto_voir', {'id': allimages.id}) }}">    
   <img
  src="{{ asset(allimages.uploadDir ~ '/' ~ allimages.url) }}"
  alt="{{ allimages.alt }}" height="174" width="174"  
/>
      </a></li>
  {% endif %}
     
   
{% endfor %}
       </ul>
      </div>
 </div>
{% endblock %}