{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Tous les photos - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
 <div class="col-xd-12 col-md-12">
                     
                      {% for allimages in images %}
                      {# On vérifie qu'une image soit bien associée à l'article #}
                       {% if allimages is not null %}
                    <div class="col-xd-12 col-md-4">
                        <div class="panel">
                        <div class="panel-heading"> 
                      <a href="{{ path('toubarefanephoto_voir', {'id': allimages.id}) }}">    
                          <img class="img-responsive gimg" src="{{ asset(allimages.uploadDir ~ '/' ~ allimages.url) }}"
                       alt="{{ allimages.alt }}" height="174" width="174"  />
                          </a>
                      </div>
                                    </div>
               </div>
             {% endif %}
             {% endfor %}
                
 </div>
{% endblock %}