
<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
              <header class="panel panel-info newtitle">Nouvelles Videos</header>          
    
                       
                                {% for videos in autrevideo | reverse %}
                                 {% set clef=videos.embeded |slice(38,35)%}
                                  {% set url='<iframe class="gvideo img-responsive img-thumbnail" src="lien?rel=0&amp;controls=0&amp;showinfo=0&amp;color=red&amp;playsinline=1&amp;allowsInlineMediaPlayback=TRUE" frameborder="0" allowfullscreen></iframe>' %}
                                  <a href="{{ path('toubarefanevideo_voir', {'id': videos.id}) }}">
                            
                                    <div class="bgvideo"> 
                                     {{ url | replace({'lien': clef}) | raw  }}
                                    </div>
                                     <div class="bgtitre">
                                     <span class="videotitle">{{ videos.name}}</span>  
                                    </div>        
                                 </a>
                               {% endfor %} 
</div>

           

