{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Tous les videos - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
 <div id="content"> 
      <div class="gallery">
      <h2>Khassaides</h2>
      <ul>
 
  {# On vérifie qu'une video soit bien associée à l'article #}
  
          {% for videos in videos %}
          <li>{{ videos.embeded | raw }}<p><h1> {{ videos.alt}}</h1></p></li>
      
         {% endfor %}  
      </ul>
    </div>
     
   
 </div>
{% endblock %}