{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Photo - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
 <div class="col-md-10 col-xd-12">
                    <div class="panel">
                        <div class="panel-heading">
                            {% if image is not null %}
                            <img class="oimg" src="{{ asset(image.uploadDir ~ '/' ~ image.url) }}" alt="{{ image.alt }}" />
                            {% endif %}
                        </div>
                      </div>
  </div>
{% endblock %}
