{# src/Toubarefane/SiteBundle/Resources/views/Site/modifier.html.twig #}

{% extends "ToubarefaneSiteBundle::layoutAdmin.html.twig" %}

{% block title %}
  Modifier un article - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}

  <h2>Ajoutr un article</h2>

  {% include "ToubarefaneSiteBundle:Admin:formulaire.html.twig" %}


 
{% endblock %}