{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layoutAdmin.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
  <p class=""><strong>Vous étes sur l'interface d'administration.</strong> </p>
  <p class=""><blink>Toute operation de suppression, modification ou d'ajout est directement visible au internautes.</blink> </p>
 <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.js')}}"></script>
    
<script type="text/javascript" src="{{ asset('js/tbr-admin.js')}}"></script>
{% endblock %}


