{# src/Sdz/SiteBundle/Resources/views/Site/menu.html.twig #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<table id="navt">
    <tr class="navtr"><th><h4>Les derniers articles</h4></th></tr>
    <tr>
    <td class="navtd">
  {% for article in liste_articles %}
    <a href="{{ path('toubarefanesite_voir', {'id': article.id}) }}">{{ article.titre }}</a>
        
  {% endfor %}
        
    </td>
</tr>
</table>
<div>
<table id="navt">
    <tr class="navtr"><th><h4>Articles populaires</h4></th></tr>
    <tr>
    <td class="navtd">
  {% for article in liste_articles %}
    <a href="{{ path('toubarefanesite_voir', {'id': article.id}) }}">{{ article.titre }}</a>
        
  {% endfor %}
        
    </td>
</tr>
</table>
<table>
   <caption>Devenez Fan</caption>

   <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Partager Facebook</th>
           
       </tr>
   </thead>

   <tfoot> <!-- Pied de tableau -->
       <tr>
           <th>youtube</th>
           
       </tr>
   </tfoot>

   <tbody> <!-- Corps du tableau -->
       <tr>
           <td><div class="fb-like" data-href="http://www.toubarefane.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></td>
           
       </tr>
       <tr>
           <td>Twitter</td>
           
       </tr>
      
   </tbody>
  
</table>
 </div>