{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layoutAdmin.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}

<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>

{% endblock %}
