{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layoutAdmin.html.twig" %}

{% block title %}
  Tous les photos - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
 
     
      
 {% for allimages in images | reverse %}
  {# On vérifie qu'une image soit bien associée à l'article #}

           <div class="col-lg-3 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <img class="gimg img-responsive" src="{{ asset(allimages.uploadDir ~ '/' ~ allimages.url) }}" >
                        </div>
                    </div>
                   <p>{{allimages.alt}}</p>
                       <a href="{{ path('toubarefaneadmin_supprimerphoto', {'id': allimages.id}) }}" type="button" class="btn-sm btn-danger">
                        <i class="icon-trash"></i>
                       Supprimer
                        </a>
           </div>     
   
{% endfor %}
      
   
 
{% endblock %}